<div class="banner">
    <div class="w3l_banner_nav_right">
        <div class="w3ls_w3l_banner_nav_right_grid">
            <h3>Popular Brands</h3>
            <div class="w3ls_w3l_banner_nav_right_grid1" >
                <div class="col-md-3 w3ls_w3l_banner_left" *ngFor="let prod of ProductsByCat">
                    <div class="hover14 column">
                    <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="assets/images/offer.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a  routerLink="/ProductsDetail" routerLinkActive="router-link-active" [queryParams]="{Prodid: prod.ProductId}" ><img  src="{{UsersAPIURL + '/Content/ProductImages/' + prod?.Image}}"  alt=" " class="img-responsive" /></a>
                                        <p>{{prod.ProductName}}</p>
                                        <!-- <h4>Rs {{prod.SalePrice}} <span>$5.00</span></h4> -->
                                        <h4>Rs {{prod.SalePrice}}</h4>
                                    </div>
                                    <div class="snipcart-details">
                                        <form action="#" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="business" value=" " />
                                                <input type="hidden" name="item_name" value="knorr instant soup" />
                                                <input type="hidden" name="amount" value="3.00" />
                                                <input type="hidden" name="discount_amount" value="1.00" />
                                                <input type="hidden" name="currency_code" value="USD" />
                                                <input type="hidden" name="return" value=" " />
                                                <input type="hidden" name="cancel_return" value=" " />
                                                <input type="submit" name="submit" value="Add to cart" class="button" />
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>